html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url('/assets/images/login_bg.jpg') no-repeat center;
    background-size: cover;
}

.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    /* 平移自身长度的50% */
    transform: translate(-50%, -50%);
}

.loginAndRegBox .titleBox {
    height: 60px;
    background: url('/assets/images/login_title.png') no-repeat center;
}

.loginAndRegBox .reg_box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.links {
    /* 弹性布局 */
    display: flex;
    /* 从 flex 容器的后端开始排列项目。对行来说是把项目都靠右放，对于列是把项目都靠底部放 */
    justify-content: flex-end;
}
.links a {
    font-size: 12px;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 32px;
}